<h1>Add Category</h1>
<form action="http://localhost:5000/menu/add" method="POST">
    <input type="text" id="txtName" name="txtName" placeholder="Enter Category"/>
    <input type="number" id="txtOrdering" name="txtOrdering" placeholder="Enter Ordering"/>
    <input type="checkbox" id="cbActive" name="cbActive"/>
    <button type="submit" id="btnAdd">Save</button>
</form>
